/* THE MEYER RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CUSTOM CSS */

body {
    min-height: 100vh;
    width: 100%;
}

#root {
    min-height: 100vh;
    width: 100%;
}

.app,
.contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app {
    background-image: url('/public/images/samurai-home.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    background-image: url('/public/images/katana-contact.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-info {
    position: absolute;
    top: 200px;
    right: 200px;
    height: 250px;
    width: 500px;
    border: 1px solid white;
    padding: 50px;
    color: white;
}

.contact-info>h1 {
    font-size: 2rem;
    font-weight: bold;
}

.contact-info>p {
    font-size: 1.2rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding-inline: 30px;
    height: 70px;
    font-size: 2rem;
}

.samurai-logo {
    margin-right: auto;
    color: white;
    display: flex;
    gap: 15px;
}

.samurai-logo:hover {
    cursor: pointer;
    opacity: 1;
}

.samurai-logo h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.samurai-logo>img {
    width: 50px;
}

nav a,
nav h1 {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

nav a:hover,
nav>h1:hover {
    cursor: pointer;
    opacity: 0.8;
}

main {
    padding: 50px;
    flex: 1;
}

.home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    gap: 15px;
}

.home-main>h1 {
    font-size: 3rem;
    font-weight: bold;
}

.home-main>h2 {
    font-size: 2rem;
}

.home-main>p {
    max-width: 500px;
}

.home-main button {
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    background-color: transparent;
    font-size: 1rem;
    opacity: 0.8;
}

.home-main button:hover{
    cursor: pointer;
    font-weight: bold;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.checkout-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.checkout-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.checkout-icon-cart-home {
    fill: white;
}

.checkout-icon-number-home {
    background-color: #cf3a3a;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: fixed;
    bottom: 70px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}
.shop {
    background-image: linear-gradient(to right, #141e30, #243b55);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shop-main {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 25vw;
    background-color: #020003;
    color: white;
}

.product-image > img {
    height: 75vh;
    width: 25vw;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 15px;
}

.product-info h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.product-info h2 {
    font-size: 2rem;
    font-weight: bold;
}

.product-info button {
    border: none;
    padding-block: 15px;
    color: white;
    background-color: #cf3a3a;
    align-self: stretch;
    font-size: 1.2rem;
    font-weight: bold;
}

.product-info button:hover {
    cursor: pointer;
    opacity: 0.8;
}

footer {
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.github-icon {
    fill: white;
    opacity: 0.8;
}

.github-icon:hover {
    cursor: pointer;
    opacity: 1;
}

/* MODAL STYLE */

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.modal-content > h1 {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #666666;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.cart-content-modal {
    font-size: 1.2rem;
}